<style>
.right{
  text-align: right;}
</style>

<%= render 'shared/errors', obj: @user %>
<% admin = []%>
<div class="mx-auto">
    <div class="container">
    <%= form_with(model: user, local: true) do |form| %>
    <div class="form-group row">
      <div class=" col-md-2 right">
      <%= form.label :Tipo_de_usuario%>
      </div>
      <div class="col-md-6">
        <%if current_user.tipo == "Administrador" %>
        <% admin=['Administrador', 'Jefe de departamento','Medico','Enfermera']%>
        <% else%>
        <% admin=[ 'Jefe de departamento','Medico','Enfermera']%>
        <%end %>
        <%= form.select :tipo, admin,class: "form-control"%>
      </div>
      
      </div>
      <div class="form-group row">
        <div class="control-label col-md-2 right">
        <%= form.label :Nombre %>
        </div>
      <div class="col-md-6">
          <%= form.text_field :name, id: :user_name, class: "form-control" %>      </div>
      </div>
     

      <div class="form-group row">
        <div class="control-label col-md-2 right">
        <%= form.label :Apellido_paterno %>
        </div>
      <div class="col-md-6">
        <%= form.text_field :lastname1, class: "form-control", autocomplete: "off" %>
      </div>
     

      </div>
      <div class="form-group row">
        <div class="control-label col-md-2 right">
        <%= form.label :Apellido_materno%>
        </div>
      <div class="col-md-6">
        <%= form.text_field :lastname2, class: "form-control", autocomplete: "off" %>
      </div>
     

      </div>
      <div class="form-group row">
        <div class="control-label col-md-2 right">
        <%= form.label :Correo %>
        </div>
      <div class="col-md-6">
        <%= form.text_field :email, class: "form-control", autocomplete: "off" %>
      </div>
       
      </div>
      <div class="form-group row">
        <div class="control-label col-md-2 right">
        <%= form.label :Contraseña %>
        </div>
      <div class="col-md-6">
        <%= form.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
      <br>


      </div>
      <div class="form-group">
      <div class="text-center col-md-12">
          <%= form.submit "Guardar", class: 'btn btn-info' %>
      </div>
      </div>
      <% end %>


    </div>
</div>





