<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div>


    




    <b><%= form.label :Tipo_de_usuario %></b>
    <%= form.select :tipo, ['Administrador', 'Jefe de departamento','Medico','Enfermera']%>
  </div>  

  <div class="field">
    <b><%= form.label :Nombre %></b>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <b><%= form.label :Apellido_paterno %></b>
    <%= form.text_field :lastname1, id: :user_lastname1 %>
  </div>

  <div class="field">
    <b><%= form.label :Apellido_materno %></b>
    <%= form.text_field :lastname2, id: :user_lastname2 %>
  </div>

  <div class="field">
    <b><%= form.label :Correo %></b>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <b><%= form.label :Contraseña %></b>
    <%= form.password_field :password %>
  </div>


  <div class="actions">
    <%= form.submit "Crear usuario" %>
  </div>
<% end %>
