<p id="notice"><%= notice %></p>




<h1>Usuarios</h1>

        
        <%= form_tag users_path, :method => 'get' do %>
            <p>
                <%= text_field_tag :search, params[:search],class:'form-control' %>
                
                <%= submit_tag "Search", :name => nil,class:'btn btn-default' %>
                
            </p>
        <% end %>
  



<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Correo</th>
      <th>Contraseña</th>
      <th>Tipo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastname1 %></td>
        <td><%= user.lastname2 %></td>
        <td><%= user.email %></td>
        <td><%= user.password%></td>
        <td><%= user.tipo %></td>
        <td><%= link_to 'Ver', user,class: 'btn btn-success btn-xs texto' %></td>
        <td><%= link_to 'Editar', edit_user_path(user),class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer' },class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path,class: 'btn btn-info' %>
