<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name%>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @user.lastname1 %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @user.lastname2 %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @user.tipo %>
</p>

<%= link_to 'Atras', users_path,class: 'btn btn-default btn-xs' %> | <%= link_to 'Editar', edit_user_path(@user),class: 'btn btn-warning btn-xs' %> |
<%= link_to 'Eliminar', user_path(@user), method: :delete, data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer' },class: 'btn btn-danger btn-xs' %> 

