<p id="notice"><%= notice %></p>
<%= link_to 'Nuevo símbolo', new_simbol_path,class: 'btn btn-info' %>
<h1>Símbolos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simbols.each do |simbol| %>
      <tr>
        <td><%= simbol.name %></td>
        <td><%= image_tag simbol.picture.url, size: "50x50" %></td>
        <td><%= simbol.detail %></td>
        <td><%= link_to 'Ver', simbol, class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to 'Editar', edit_simbol_path(simbol), class: 'btn btn-warning btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo símbolo', new_simbol_path,class: 'btn btn-info' %>
