<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @paciente.name %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @paciente.lastname1 %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @paciente.lastname2 %>
</p>

<p>
  <strong>Padecimiento:</strong>
  <%= @paciente.padecimiento %>
</p>

<p>
  <strong>Fecha de ingreso:</strong>
  <%= @paciente.fechaIngreso %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @paciente.sexo %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @paciente.observaciones %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @paciente.fechaDeNacimiento %>
</p>
<%if logged_in? and current_user.tipo == "Medico" %>
<%= link_to 'Editar', edit_paciente_path(@paciente),class: 'btn btn-warning btn-xs' %> |<%end%>
<%= link_to 'Atrás', pacientes_path ,class: 'btn btn-default btn-xs'%> <%if logged_in? and current_user.tipo == "Medico" %> | <%= link_to 'Eliminar', paciente_path(@paciente), method: :delete, data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer' },class: 'btn btn-danger btn-xs' %> <%end%>
