<style>
.right{
  text-align: right;}

.hideTA {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
}
</style>

<%id_simbolos = []%>
<%cont = 3%>
<%= render 'shared/errors', obj: @interaction %>
<%nombres =[]%>
<%cont = 0%>
<div class="mx-auto">
    <div class="container">
      <%= form_with(model: interaction, local: true) do |form| %>

    <div class="form-group row">
      <div class=" col-md-2 right">
        <%= form.label :paciente_id %>
        </div>
      <div class="col-md-6">
        <%= form.select(:paciente_id, Paciente.all.collect {|u| [u.name + " " +u.lastname1 + " "+u.lastname2 , u.id]}) %>        
      </div>
    </div>

      <% @simbolos.each do |s| %>
        <button id="3" onclick="myFunction(this.value)" value='<%= s.id %>'><%=image_tag s.picture.url, size: "200x200" %>
          
        </button>  
        <%cont = cont +1%>
        <%#= form.radio_button(:simbol_id, s.id)  %>
      <%end%>
      
      <%= form.text_area :simbol_id, id: :interaction_simbol, class: "hideTA"%>
      <%#= form.select(:simbol_id, Simbol.all.collect {|u| [u.picture, u.id]}) %>
      <%#= form.radio_button(:simbol_id, Simbol.all.collect {|u| [u.picture, u.id]}) %>
        <div class="form-group row">
        </div>
      <div class="form-group row">
      <div class=" col-md-2 right">
        <%= form.label :comentarios %>
        </div>
      <div class="col-md-6">
        <%= form.text_area :comentarios, id: :interaction_comentarios %>
      </div>
      </div>

      <div class="form-group">
      <div class="text-center col-md-12">
        <%= form.submit "Guardar", class: 'btn btn-info'%>
      </div>
      </div>
    <% end %>
  </div>
</div>


<script>
function myFunction(x) {
    document.getElementById("interaction_simbol").innerHTML = x;
  
}



</script>