<%= render 'shared/errors', obj: @interaction %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Enfermera:</strong>
  <%= @interaction.user.name + " " +@interaction.user.lastname1 + " " +@interaction.user.lastname2 %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @interaction.paciente.name + " " +@interaction.paciente.lastname1 + " " +@interaction.paciente.lastname2 %>
</p>

<p>
  <strong>Símbolo:</strong>
  
  <%= image_tag @interaction.simbol.picture.url, size: "100x100" %>
</p>

<%= form_with(model: @interaction, local: true) do |form| %>
	<p>
	<strong>¿Esta interaccion fue correta?</strong>
	<%#= check_box("checkbox", id: :interaction_checkbox, {checked: true}) %>
	<%= form.check_box :checkbox, id: :interactions_checkbox%>
	<%#= form.check_box :activo %>
	</p>
	<%= form.submit "Guardar", class: 'btn btn-info'%>
<%end%>

<p>
  <strong>Comentarios:</strong>
  <%= @interaction.comentarios %>
</p>

<%= link_to 'Editar', edit_interaction_path(@interaction), class: 'btn btn-warning btn-xs'  %> |
<%= link_to 'Atrás', interactions_path, class: 'btn btn-default btn-xs'%>
