<p id="notice"><%= notice %></p>

<p>
  <strong>Simbol:</strong>
  <%= @interaction.simbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @interaction.user %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @interaction.paciente %>
</p>

<p>
  <strong>Simbol:</strong>
  <%= @interaction.simbol %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @interaction.comentarios %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
